
html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
}

.main-navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: linear-gradient(#c9c9c9,#dedede);
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.main-navbar-logo-nome{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.nomesite{
    font-size: 1.3em;
    font-weight: 500;
    border-radius: 10px;
}

.navmenu{
    list-style: none;
    display: flex;
    gap: 25px;
    font-weight: 500;
       
}

.navmenu a{
    font-size: 1.1em;
    text-decoration: none;
    color: black;
}

.navmenu a:hover{
    color:blueviolet;
    border-bottom: solid blueviolet;
    transition: .1s;
}

/*INÍCIO DOBRA BUSCA*/

.introducao{
    font-size: 2em;
    font-weight: 500px;
    margin: 70px auto;
    margin-left: 40px;
}

.introducao h1{
    text-align: center;
}

.main-busca{
    
    background-color: rgb(207, 234, 255);
    height: 50px;
    padding: 10px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 900px;
    margin:0 auto;
}

.busca-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 1em;
    line-height: 22px;
    width: 825px;
    border-bottom: 1px solid rgb(176, 201, 221);
}

.busca-btn{
    width: 50px;
    height: 50px;
    border-radius: 40%;
    background: rgb(163, 197, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

.busca{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 40px;
}

.imagem{
    border: 1px solid black;
}

.busca-categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin: 50px auto;
    border: 0px solid black;
    
}

.busca-categoria-lista{
    display: flex;
    list-style: none;
    gap: 100px;
    margin: 50px auto;
}

.busca-categoria h2{
    display: flex;
    font-size: 1.5em;
    font-weight: 500;
}

/*FIM DOBRA BUSCA*/

/*INÍCIO DOBRA REGISTRO*/

.registrar{
    display: flex;
    padding: 40px;
    margin: 80px auto;
    align-items: center;
    justify-content: center;
    gap: 100px;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(138,138,138,0.84);
    -moz-box-shadow: 0px 0px 6px 3px rgba(138,138,138,0.84);
    box-shadow: 0px 0px 2px 1px rgba(138,138,138,0.84);
}

.registrar-pro{
    align-items: center;
    flex-basis: 30%;
    text-align: center;
    font-size: 1.1em;
    font-weight: 300;
}

.registrar-pro-btn{
    display: flex;
    justify-content: center;
}

.registrar-pro p{
    margin-bottom: 30px;
    align-items: center;
}

.registrar-pro-btn a{
    color: white;
    background-color: rgb(3, 3, 133);
    padding: 10px 10px;
    border-radius: 15px;
    font-size: 1em;
    font-weight: 400;
    display: flex;
    justify-content: center;
    width: 300px;
    opacity: 0.8;
    border: 2px solid black;
}

.registrar-pro-btn a:hover{
    opacity: 1;
    transition: 0.3s;
}

/*.registrar-cli{
    align-items: center;
    flex-basis: 30%;
    text-align: center;
    font-size: 1.1em;
    font-weight: 300;
}

.registrar-cli p{
    margin-bottom: 30px;
}

.registrar-cli-btn a{
    color: black;
    background-color: #dedede;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 400;
    display: flex;
    width: 100px;
    border: 2px solid black;
}*/

/*FIM DOBRA REGISTRO*/


/*INICIO SESSÃO DE ARTIGOS*/
.main_blog{
    max-width: calc(1300px - 40px);
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_blog_header{
    flex-basis: 100%;
    margin: 10px 0;
}

.main_blog_header p{
    margin: 50px auto;
    font-size: 1.1em;
}

.main_blog_header h1{
color:#333;
margin-bottom: 5px;
font-size: 1.8em;
}

.main_blog article{
flex-basis: calc(25% - 20px);
margin-top: 10px;
margin-bottom: 100px;
opacity: 0.9;
border-radius: 10px;
-webkit-box-shadow: 0px 0px 6px 3px rgba(138,138,138,0.84);
-moz-box-shadow: 0px 0px 6px 3px rgba(138,138,138,0.84);
box-shadow: 0px 0px 6px 3px rgba(138,138,138,0.84);
}


.main_blog article:hover{
     opacity:1;
     transition: 0.2s;
    }

    
.main_blog article p{
    margin: 1px 0;
    font-size: 1.3em;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.main_blog article a{
    display: flex;
    justify-content: center;
}

.main_blog article img{
    margin: 40px auto;
    background-color: #f5f5f5;
    border-radius: 21%;
    width: 50%;
    padding: 20px 20px;
}

.category{
    margin: 10px 0;
    font-size: 0.875em;
    color:#d36833;
}

.main_blog article h2{
    margin-bottom: 30px;
    font-weight: 400;
    color:#333;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
}

.main_blog article h2 a{
    color:#333;
}
/*FIM SESSÃO DE ARTIGOS*/

/*DOBRA OPÇÃO*/
.main_course_content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
    

}
.main_course_content article{
    flex-basis:48%;
    margin: 20px 0;
    background-color: #ebebeb;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding: 20px;
}

.main_course_content article h2{
    font-size: 1.3em;
    color: #333;
    margin-bottom: 4px;
}

.main_course_content article p{
    font-size: 0.9em;
    color: #333;
}

.main_course_content img{
    opacity: 0.7;
}

.main_course_content img:hover{
    opacity: 1;
    transition: 0.3s;
}
/*FIM DOBRA OPÇÃO*/

/*INICIO DOBRA RODAPE*/

.main_footer{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto 0px;
    color: #333;
    background-color: #ebebeb;
    margin-bottom: 15vh;
}

.main_footer > header{
    flex-basis: 100%;
}
.main_footer > header h1{
    font-size: 1.4em;
    margin-bottom: 40px;
}
/*
.main_footer > article{
    flex-basis: 33%;
}*/

.main_footer > article h2{
    margin-bottom: 20px;
}

.main_footer > article ul li{
    list-style: none;
    margin: 5px 0;
}

.main_footer > article ul li a{
    color:#333;

}

.main_footer > article ul li a:hover{
    text-decoration: underline;
    
}

.main_footer_our_pages , .main_footer_links{
    flex-basis: 25%;
}

.main_footer_about{
    flex-basis: 50%;
}  

.main_footer_rights{
    justify-content: center;
    padding: 27px 0;
    width: 100%;
    text-align: center;
    background-color: #333333;
    border-top: 1px solid #000;
    font-size: 0.9em;
    color: #fff;
    font-weight: 300;
}

/*FIM DOBRA RODAPE*/