<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="css/boot.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/fonticon.css" rel="stylesheet">
    <link href="css/lista.css" rel="stylesheet">

    <title>Gerenciamento</title>
</head>

<body>
    <!--DOBRA CABEÇALHO-->

    <header class="main_header">
        <div class="main_header_content">
        
            <div class="listagem_info">
                <samp class="icon-books">Listagem de dados</samp>
           </div>
       </div>
    </header>
    <!--FIM DOBRA CABEÇALHO-->

    <!--DOBRA PALCO PRINCIPAL-->

    <!--1ª DOBRA-->
    <main>

        <!--INÍCIO MENU LATERAL-->
        <section class="main_header_lista">
            <div class="sidebar">
            <nav>
                <ul class="sidemenu">
                <!--<li><a href="#">Clientes</a></li>-->
                <li class="item_sidebar"><a href="lista_profissionais.html">Profissionais</a></li>
                <li class="item_sidebar"><a href="lista_servicos.php">Serviços</a></li>
                <!--<li><a href="#">Avaliações</a></li>-->
                </ul>
            </nav>
            </div>
  
        <!--FIM MENU LATERAL-->

        <div class="main_stage_lista">
            <div class="main_stage_lista_content">
               
                <article>
                    <header>
                            
                            <p>Bem-vindo(a) à página de Gerenciamento do Busca Service! Aqui você terá acesso a todas as ferramentas necessárias para gerenciar o sistema.
                            É importante lembrar que apenas administradores têm acesso a essa página.</p><br>
                            <p>Usando o menu lateral localizado à esquerda da página, você poderá navegar pelas diferentes seções de gerenciamento, que incluem profissionais e serviços. Em cada seção, você encontrará as informações relevantes para o gerenciamento daquele aspecto do sistema. Poderá adicionar, editar e excluir informações sobre profissionais e serviços.</p>
                        
                    </header>
               </article>
               
            </div>
        </div>
        </section>

        <!--FIM DOBRA PALCO PRINCIPAL-->

        <!--INICIO DOBRA RODAPE-->
        <section class="main_optin_footer">
            <div class="main_optin_footer_content">
                <article>
                    <header>
                        <h2><a href="opcao.html" class="btn">Voltar</a></h2>
                    </header>
                </article>
            </div>
        </section>

        <footer class="main_footer_rights">
            <p>ETC - Todos os direitos reservados.</p>
        </footer>
        <!--FIM DOBRA RODAPE-->
    </main>
    <script src="js/sidebar.js"></script>

</body>

</html>