<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="css/boot.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link href="css/formulario.css" rel="stylesheet">
    <link href="css/fonticon.css" rel="stylesheet">
    <script type="text/javascript" src="js/modal.js"></script>
    <link href="css/modal.css" rel="stylesheet">
    <title>Menu de Gerenciamento</title>
</head>

<body>
    <!--INÍCIO DOBRA CABEÇALHO-->
    <section>
        <header class="navbar">
            <div class="main-navbar">
                <a class="main-navbar-logo-nome" href="index.html">
                    <img class="imagem "src="img/logo.png" alt="Busca Service" title="Busca Service" width="80">
                
                <h1 class="nomesite">Busca Service</h1>
                </a>
    
                <nav>
                    <ul class="navmenu">
                        <li><a href="index.html">Página Inicial</a></li>
                        <li><a href="index.html">Voltar</a></li>
                        <li><a href="index.html">Sair</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </section>

    <main>
        <div class="main_opc">

            <section class="main_course" id="escola">
                <header class="main_course_header">

                </header>
                <div class="main_course_content">
                    <article>
                        <h2 align="center">Cadastrar dados</h2>
                        <header>
                            
                            <p align="center">
                                <a href="cadastra_servico.html"><img src="img/cadastro.png" width="200"></a></p>
                               
                        </header>
                    </article>
                    <article>
                        <h2 align="center">Alterar dados</h2>
                        <header>
                            
                            <p align="center"><a href="lista.html"><img src="img/listar.png" width="350"></a></p>
                            
                        </header>
                    </article>

                </div>
                </article>
            </section>
            </div>

    </main>
    <!--FIM DOBRA PALCO PRINCIPAL-->

</body>


</html>