/*INÍCIO MENU LATERAL*/
.sidebar {
    width: 200px;
    background-color: #333333;
    height: 30vh;
    font-size: 1.1em;
    border: 1px solid black;
    margin-top: -50px;
  }
  
  .sidemenu li {
    border-bottom: 1px solid #555555;
    list-style: none;
  }
  
  .sidemenu a {
    display: flex;
    color: #ffffff;
    padding: 15px 40px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
.sidemenu li.ativo{
    background-color: #555555;
  }

  .sidemenu a:hover {
    background-color: #555555;
  }
/*FIM MENU LATERAL*/  

/*MENU LATERAL E CONTEÚDO*/

.main_header_lista{
    max-width: 1300px;
    display: flex;
}

/*FIM MENU LATERAL E CONTEÚDO*/

.main_stage_lista {
    display: flex;
    flex-direction: column;
    width: 100%;
   margin: auto 100px;
}

.main_stage_lista .main_stage_lista_content {
   max-width: 1300px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    flex-basis: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.1em;
}

.main_stage {
    width: 100%;
}

.main_stage .main_stage_content {
    display: flex;
    max-width: 1300px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    flex-basis:100%;
    text-align: center;
    font-weight: 300;
}


.table tr th{
    font-weight: 500;
    font-size: 1.2em;
    background-color: #d36833;
    color: #fff;
}

.listagem_info {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    color: #fff;
    font-size: 3em;
    background-color: #333333;
    border-top: 1px solid #000;
    padding: 29px;
}

.btn{
    background-color: #d36833;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 5px 10px;
    opacity: 0.9;
}

.main_optin_footer_content h2{
    display: flex;
    justify-content: center;
    margin-bottom: 13%;
    font-weight: 500;
}

.btn:hover{
    opacity: 1;
    transition: 0.2s;
}

.space{
   padding: 15px 0;
}