<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="css/boot.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/fonticon.css" rel="stylesheet">
    <link href="css/lista.css" rel="stylesheet">


    <title>PROJETO HTLM MOD 3</title>
</head>

<body>
    <!--DOBRA CABEÇALHO-->

    <header class="main_header">
        <div class="main_header_content">
        
            <div class="listagem_info">
                <samp class="icon-books">Listagem de dados</samp>
           </div>
       </div>

           
        </div>
    </header>
    <!--FIM DOBRA CABEÇALHO-->

    <!--DOBRA PALCO PRINCIPAL-->

    <!--1ª DOBRA-->
    <main>

        <div class="main_stage">
            <div class="main_stage_content">
               
                <article>
                    <header>
                       
                        <table border="0" width="1300px" class="table">
                            
                            <tr>
                                <th>Nome</th>
                                <th>Idade</th>
                                <th>Profissão</th>
                                <th>Email</th>
                                <th>Endereço</th>
                                <th>Ação</th>
                            </tr>
                            <tr>
                                <td>Ted</td>
                                <td>22</td>
                                <td>Estudante</td>
                                <td>email@email.com</td>
                                <td>Minha casa</td>
                                <td><button class="btn">Editar</button>&nbsp;<button class="btn">Apagar</button></td>
                                
                            </tr>
                            <tr>
                                <td>Ralf</td>
                                <td>26</td>
                                <td>Designer</td>
                                <td>email@email.com</td>
                                <td>Minha casa</td>
                                <td><button class="btn">Editar</button>&nbsp;<button class="btn">Apagar</button></td>
                            </tr>
                        </table>
                        
                    </header>
               </article>
               
            </div>
        </div>





        

        <!--FIM DOBRA PALCO PRINCIPAL-->

        <!--INCIIO DOBRA RODAPE-->
        <section class="main_optin_footer">
            <div class="main_optin_footer_content">
                <header>
                    <h1></h1>
                </header>
                <article>
                    <header>
                        <h2><a href="opcao.html" class="btn">Voltar</a></h2>
                    </header>
                </article>
            </div>
        </section>

        <section class="main_footer">
            <header>
                <h1>Quer saber mais?</h1>
            </header>
            <article class="main_footer_our_pages">
                <header>
                    <h2>Nossas Páginas</h2>
                </header>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">A Escola</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </article>

            <article class="main_footer_links">
                <header>
                    <h2>Links Úteis</h2>
                </header>
                <ul>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Aviso Legal</a></li>
                    <li><a href="#">Termos de Uso</a></li>
                </ul>
            </article>

            <article class="main_footer_about">
                <header>
                    <h2>Sobre o Projeto</h2>
                </header>
                <p>Aprenda a trabalhar com HTML5 e CSS3 para desenvolver seus projetos e entregar páginas que estejam
                    dentro
                    dos padrões da WEB seguindo as boas práticas</p>
            </article>
        </section>
        <footer class="main_footer_rights">
            <p>ETC - Todos os direitos reservados.</p>
        </footer>
        <!--FIM DOBRA RODAPE-->
    </main>
</body>

</html>